<script lang="ts">
	import Loading from './Loader.svelte';
	let isLoading = true;
</script>

<section>
	<Loading {isLoading} />
	<h3>Loading...</h3>
</section>

<style>
	section {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		flex-direction: column;
		gap: var(--pd);
    background-color: rgb(var(--bg-color));
	}
</style>
