<script lang="ts">
	import { start_ripple } from './webkit/ripples';
	import { fly } from 'svelte/transition';
	import { 
		open_mini_audio_control, 
		open_audio_control, 
		current_radio, 
		audio 
	} from '../stores';
	import Audio from '../Audio';
	import Loader from './Loader.svelte';

	type Current_radio_type = {
		name: string;
		favicon: string;
		paused: boolean;
		loading: boolean;
	};

	let Open_mini_audio_control = false;

	let Current_radio: Current_radio_type = {
		name: '',
		favicon: '',
		paused: true,
		loading: false
	};
	const logoRadio = {
		img: ``,
		failed: false,
		loading: false,
		loaded: false
	};

	$: open_mini_audio_control.subscribe((value) => {
		if (Open_mini_audio_control !== value) {
			Open_mini_audio_control = value;
		}
	});
	$: current_radio.subscribe((value: any) => {
		Current_radio = value;
		const img: HTMLImageElement = new Image();
		img.src = Current_radio.favicon;
		logoRadio.loading = true;

		img.onload = () => {
			logoRadio.loading = false;
			logoRadio.loaded = true;
			logoRadio.img = `<img width="40" height="40" src="${Current_radio.favicon}"/>`;
		};
		img.onerror = () => {
			logoRadio.loading = false;
			logoRadio.failed = true;
			logoRadio.img = `<i class="bi bi-music-note"></i>`;
		};
	});

	const on_open_audio_control = () => {
		open_audio_control.update(() => true);
		open_mini_audio_control.update(() => false);
	};
</script>

{#if Open_mini_audio_control}
	<main transition:fly={{ y: 200 }}>
		<div class="c-image" on:click={() => on_open_audio_control()}>
			{@html logoRadio.img}
		</div>
		<div class="c-content" on:click={() => on_open_audio_control()}>
			<p>{Current_radio.name}</p>
			<button
				class="wk-rp"
				on:pointerdown={(event) => start_ripple(event)}
				on:click|stopPropagation={() => new Audio().play_pause()}
			>
				{#if Current_radio.loading}
					<Loader isLoading={true} />
				{:else if Current_radio.paused}
					<i class="bi bi-play-fill" />
				{:else}
					<i class="bi bi-stop-fill" />
				{/if}
			</button>
		</div>
	</main>
{/if}

<style>
	main {
		width: 100%;
		height: 3.5em;
		background-color: rgb(var(--bg-color-secondary));
		position: fixed;
		bottom: 0;
		left: 0;
		display: none;
		align-items: center;
		justify-content: center;
		z-index: 2;
		cursor: pointer;
		border-top-left-radius: var(--brdr);
		border-top-right-radius: var(--brdr);
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	}
	main .c-image {
		width: 3em;
		height: 3em;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}
	main .c-content {
		width: calc(100% - 2em);
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: var(--pd);
	}
	main .c-content button {
		width: 3.5em;
		height: 3em;
		border-radius: var(--brdr);
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		cursor: pointer;
	}
	@media (max-width: 600px) {
		main {
			display: flex;
		}
	}
</style>
