<script lang="ts">
	import '../styles/styles.css';
	import { onMount } from 'svelte';
	import {
		radios,
		audio,
		open_audio_control,
		open_mini_audio_control,
    	api
	} from '../stores';
	import LoaderPage from '../lib/Loader_page.svelte';

	const get_stations = async() => {
		return {
			top_votes: await api.getStationsByVotes(10),
			top_clicks: await api.getStationsByClicks(10),
			recent_clicks: await api.getStationsByRecentClicks(10),
		};
	};
	let is_loading = false;
	onMount(async () => {
		const stations = await get_stations();
		radios.update((value) => {
			return {
				...value,
				top_votes: stations.top_votes,
				top_clicks: stations.top_clicks,
				recent_clicks: stations.recent_clicks,
			};
		});

		const audio_element = document.querySelector<HTMLAudioElement>('audio')!;
		audio.update(() => audio_element);
		window.onresize = () => {
			if (audio_element.src && window.innerWidth <= 600) {
				open_audio_control.update(() => false);
				open_mini_audio_control.update(() => true);
				return;
			}
			if (audio_element.src && window.innerWidth > 600) {
				open_audio_control.update(() => true);
				open_mini_audio_control.update(() => false);
			}
		};
		is_loading = true;
	});
</script>

{#if is_loading}
	<slot />
{:else}
	<LoaderPage />
{/if}
<audio />
