<script lang="ts">
	import '@splidejs/svelte-splide/css';
	import '@splidejs/svelte-splide/css/skyblue';
	import '@splidejs/svelte-splide/css/sea-green';
	import '@splidejs/svelte-splide/css/core';

	import { goto } from '$app/navigation';
	import { fade, fly } from 'svelte/transition';
	import { Splide, SplideTrack, SplideSlide } from '@splidejs/svelte-splide';
	import {
		radios,
		open_audio_control,
		open_mini_audio_control,
		open_search_component
	} from '../stores';
	import { start_ripple } from '$lib/webkit/ripples';
	import Audio from '../Audio';
	import MiniAudioControl from '$lib/Mini_audio_control.svelte';
	import AudioControl from '$lib/Audio_control.svelte';
	import Overlay from '$lib/Overlay.svelte';

	let Open_audio_control = false;
	let Open_mini_audio_control = false;
	let Radios = {
		top_clicks: [],
		recent_clicks: [],
		top_votes: [],
		searchs: []
	};
	let Open_search_component = false;

	$: open_audio_control.subscribe((value) => {
		if (Open_audio_control !== value) {
			Open_audio_control = value;
		}
	});
	$: open_mini_audio_control.subscribe((value) => {
		if (Open_mini_audio_control !== value) {
			Open_mini_audio_control = value;
		}
	});
	$: radios.subscribe((value) => {
		Radios = {
			...value
		};
	});
	$: open_search_component.subscribe((value) => {
		if (Open_search_component !== value) {
			Open_search_component = value;
		}
	});
</script>

<section in:fly={{ x: 200, duration: 200, delay: 200 }} out:fade>
	<div
		class="content"
		class:open_audio_control={Open_audio_control}
		class:open_mini_audio_control={Open_mini_audio_control}
	>
		<div class="c-slider">
			<button
				class="wk-rp light search"
				on:pointerdown={(event) => start_ripple(event)}
				on:click={() => goto('/search')}
			>
				<i class="bi bi-search light" />
			</button>
			<Splide
				hasTrack={false}
				options={{
					autoplay: true,
					type: 'loop',
					classes: {
						page: 'splide__pagination__page pagination__page-progress'
					}
				}}
				style="padding: 2em; height: 180px; display: flex; align-items: center;"
			>
				<SplideTrack>
					<SplideSlide style="display: flex; align-items: center; justify-content: center;">
						<h4 class="light-color">Browse over 30,000 radio stations</h4>
					</SplideSlide>
					<SplideSlide
						style="text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 0;"
					>
						<h4 class="light-color">Provided by radio-browser.info</h4>
						<a
              style="text-decoration: none;"
							href="https://www.radio-browser.info/"
							target="_blank"
							class="slider__like-button light-color">Open site</a
						>
					</SplideSlide>
				</SplideTrack>
				<div class="splide__arrows">
					<button class="splide__arrow splide__arrow--prev">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
							><g data-name="Layer 2"
								><g data-name="chevron-right"
									><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0" />
									<path
										d="M10.5 17a1 1 0 0 1-.71-.29 1 1 0 0 1 0-1.42L13.1 12 9.92 8.69a1 1 0 0 1 0-1.41 1 1 0 0 1 1.42 0l3.86 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-.7.32z"
										fill="rgb(var(--orange))"
									/></g
								></g
							></svg
						>
					</button>
					<button class="splide__arrow splide__arrow--next">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
							><g data-name="Layer 2"
								><g data-name="chevron-right"
									><rect width="24" height="24" transform="rotate(-90 12 12)" opacity="0" />
									<path
										d="M10.5 17a1 1 0 0 1-.71-.29 1 1 0 0 1 0-1.42L13.1 12 9.92 8.69a1 1 0 0 1 0-1.41 1 1 0 0 1 1.42 0l3.86 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-.7.32z"
										fill="rgb(var(--orange))"
									/></g
								></g
							></svg
						>
					</button>
				</div>
			</Splide>
		</div>
		<div class="c-radio-list">
			<h3>Most voted</h3>
			<ul>
				{#each Radios.top_votes as radioStation}
					<li>
						<div class="c-image">
							<img
								alt="image"
								src={radioStation.favicon}
								on:error={(event) =>
									(event.target.parentElement.innerHTML = `<i class="bi bi-music-note"></i>`)}
							/>
						</div>
						<p>{radioStation.name}</p>
						<button
							class="wk-rp"
							on:pointerdown={(event) => start_ripple(event)}
							on:click={() => new Audio().init_radio({ radio_station: radioStation })}
						>
							<i class="bi bi-play-fill" />
						</button>
					</li>
				{/each}
			</ul>
			<h3>In High</h3>
			<ul>
				{#each Radios.top_clicks as radioStation}
					<li>
						<div class="c-image">
							<img
								alt="image"
								src={radioStation.favicon}
								on:error={(event) =>
									(event.target.parentElement.innerHTML = `<i class="bi bi-music-note"></i>`)}
							/>
						</div>
						<p>{radioStation.name}</p>
						<button
							class="wk-rp"
							on:pointerdown={(event) => start_ripple(event)}
							on:click={() => new Audio().init_radio({ radio_station: radioStation })}
						>
							<i class="bi bi-play-fill" />
						</button>
					</li>
				{/each}
			</ul>
			<h3>Recent Stations</h3>
			<ul>
				{#each Radios.recent_clicks as radioStation}
					<li>
						<div class="c-image">
							<img
								alt="image"
								src={radioStation.favicon}
								on:error={(event) =>
									(event.target.parentElement.innerHTML = `<i class="bi bi-music-note"></i>`)}
							/>
						</div>
						<p>{radioStation.name}</p>
						<button
							class="wk-rp"
							on:pointerdown={(event) => start_ripple(event)}
							on:click={() => new Audio().init_radio({ radio_station: radioStation })}
						>
							<i class="bi bi-play-fill" />
						</button>
					</li>
				{/each}
			</ul>
		</div>
	</div>
	<AudioControl />
	<MiniAudioControl />
	<Overlay />
</section>

<style>
	section {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		height: 100%;
		padding: var(--pd);
		background-color: rgb(var(--bg-color));
	}

	section .content {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		border-radius: var(--brdr);
		overflow-y: auto;
	}

	.open_audio_control {
		width: calc(100% - 300px) !important;
	}

	.open_mini_audio_control {
		height: calc(100% - 3em) !important;
	}

	.c-slider {
		width: 100%;
		height: 200px;
		background-color: rgb(var(--blue));
		border-radius: var(--brdr);
		padding: var(--pd);
		position: relative;
	}

	.c-slider button.search {
		position: absolute;
		top: var(--pd);
		right: var(--pd);
		width: 3em;
		height: 3em;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		border-radius: 50%;
		cursor: pointer;
		background-color: transparent;
		color: rgb(255, 255, 255);
		z-index: 1;
	}

	.slider__like-button {
		background-color: rgba(0, 0, 0, 0.3);
		width: 200px;
		height: 2.5em;
		border-radius: var(--brdr);
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		outline: none;
		cursor: pointer;
	}

	section .content .c-radio-list {
		width: 100%;
		height: calc(100% - 200px);
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		padding: var(--pd);
		gap: var(--pd);
	}
	section .content .c-radio-list ul {
		width: 100%;
		height: max-content;
		display: grid;
		grid-template-columns: 31% 31% 31%;
		align-items: flex-start;
		justify-content: space-between;
		gap: var(--pd);
	}
	section .content .c-radio-list ul li {
		width: 100%;
		height: 4em;
		list-style: none;
		display: grid;
		grid-template-columns: 70px calc(100% - 140px) 70px;
		align-items: center;
		justify-content: center;
		background-color: rgb(var(--bg-color-secondary));
		border-radius: var(--brdr);
		overflow: hidden;
		gap: var(--pd);
	}

	section .content .c-radio-list ul li .c-image {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	section .content .c-radio-list ul li .c-image img {
		width: 100%;
		height: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	section .content .c-radio-list ul li .c-image img::before {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	section .content .c-radio-list ul li button {
		width: 3.5em;
		height: 3em;
		border-radius: var(--brdr);
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		cursor: pointer;
	}
	@media (max-width: 1000px) {
		section .content .c-radio-list ul {
			grid-template-columns: 49% 49%;
		}
	}
	@media (max-width: 600px) {
		.open_audio_control {
			width: 100% !important;
		}
		section .content .c-radio-list ul {
			grid-template-columns: 100%;
		}
	}
</style>
