@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


/* ================== */
/* CSS PALETTE COLOR */
/* ==================*/
:root {
	--blue: 83, 127, 231;
	--green: 80, 216, 144;
	--orange: 242, 146, 29;
	--default-color: 0, 0, 0;
	--light-color: 255, 255, 255;
	--dark-color: 30, 30, 30;
	--text-color: 0, 0, 0;
  --bg-color: 255, 255, 255;
  --bg-color-secondary: 230, 230, 230;
  --ripple-color: 0, 0, 0, 0.1;
  --bg-reverse: 60, 60, 60;
}
.light-color {
	color: rgb(var(--light-color));
}
.dark-color {
	color: rgb(var(--dark-color));
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: 50, 50, 50;
    --bg-color-secondary: 70, 70, 70;
    --text-color: 255, 255, 255;
    --ripple-color: 255, 255, 255, 0.1;
    --bg-reverse: 255, 255, 255;
  }
}
/* ================== */
/* CSS TYPOGRAPH */
/* ==================*/
/* ==================== */
h1 {
	font-size: 2em;
	font-weight: 900;
  color: rgb(var(--text-color));
}
h2 {
	font-size: 1.7em;
	font-weight: 700;
  color: rgb(var(--text-color));
}
h3 {
	font-size: 1.5em;
	font-weight: 600;
  color: rgb(var(--text-color));
}
h4 {
	font-size: 1.3em;
	font-weight: 500;
  color: rgb(var(--text-color));
}
h5 {
	font-size: 1.1em;
	font-weight: 400;
  color: rgb(var(--text-color));
}
h6 {
	font-size: 0.9em;
	font-weight: 300;
  color: rgb(var(--text-color));
}
p {
	font-size: 1.1em;
	font-weight: 500;
  color: rgb(var(--text-color));
}
button > p {
  font-size: 1.3em;
}
button i {
	font-size: 1.5em;
}
input {
  font-size: 1.1em;
}
i {
	font-size: 1.5em;
	pointer-events: none;
  color: rgb(var(--text-color));
}
i.light {
  color: rgb(255, 255, 255);
}
/* ================== */
/* CSS CUSTOM */
/* ==================*/
:root {
	--brdr: 1.1em;
	--pd: 0.5em;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Nunito', sans-serif;
}
body {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
  background-color: rgb(var(--bg-color));
}
body #app {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pagination__page-progress {
	background-color: rgb(255, 255, 255) !important;
}
.pagination__page-progress.is-active {
	background-color: rgb(var(--orange)) !important;
}
.wk-rp {
	--wk-rp-color: rgba(var(--ripple-color));
	--wk-rp-transition: 200;
	overflow: hidden;
	position: relative;
}
.wk-rp.light {
  --wk-rp-color: rgba(255, 255, 255, 0.2);
}
section.svelte-imrnr7{display:flex;align-items:center;justify-content:center;position:relative;flex-direction:column;gap:var(--pd);background-color:rgb(var(--bg-color))}