/* ================== */
/* CSS PALETTE COLOR */
/* ==================*/

:root {
	--blue: 83, 127, 231;
	--green: 80, 216, 144;
	--orange: 242, 146, 29;
	--default-color: 0, 0, 0;
	--light-color: 255, 255, 255;
	--dark-color: 30, 30, 30;
	--text-color: 0, 0, 0;
  --bg-color: 255, 255, 255;
  --bg-color-secondary: 230, 230, 230;
  --ripple-color: 0, 0, 0, 0.1;
  --bg-reverse: 60, 60, 60;
}

.light-color {
	color: rgb(var(--light-color));
}

.dark-color {
	color: rgb(var(--dark-color));
}

 @media (prefers-color-scheme: dark) {
  :root {
    --bg-color: 50, 50, 50;
    --bg-color-secondary: 70, 70, 70;
    --text-color: 255, 255, 255;
    --ripple-color: 255, 255, 255, 0.1;
    --bg-reverse: 255, 255, 255;
  }
}
