@import './palette-color.css';
@import './typograph.css';
@import './custom.css';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Nunito', sans-serif;
}

body {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
  background-color: rgb(var(--bg-color));
}

body #app {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination__page-progress {
	background-color: rgb(255, 255, 255) !important;
}

.pagination__page-progress.is-active {
	background-color: rgb(var(--orange)) !important;
}

.wk-rp {
	--wk-rp-color: rgba(var(--ripple-color));
	--wk-rp-transition: 200;
	overflow: hidden;
	position: relative;
}

.wk-rp.light {
  --wk-rp-color: rgba(255, 255, 255, 0.2);
}
