/* ================== */
/* CSS TYPOGRAPH */
/* ==================*/
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* ==================== */

h1 {
	font-size: 2em;
	font-weight: 900;
  color: rgb(var(--text-color));
}
h2 {
	font-size: 1.7em;
	font-weight: 700;
  color: rgb(var(--text-color));
}
h3 {
	font-size: 1.5em;
	font-weight: 600;
  color: rgb(var(--text-color));
}
h4 {
	font-size: 1.3em;
	font-weight: 500;
  color: rgb(var(--text-color));
}
h5 {
	font-size: 1.1em;
	font-weight: 400;
  color: rgb(var(--text-color));
}
h6 {
	font-size: 0.9em;
	font-weight: 300;
  color: rgb(var(--text-color));
}

p {
	font-size: 1.1em;
	font-weight: 500;
  color: rgb(var(--text-color));
}

button > p {
  font-size: 1.3em;
}

button i {
	font-size: 1.5em;
}

input {
  font-size: 1.1em;
}

i {
	font-size: 1.5em;
	pointer-events: none;
  color: rgb(var(--text-color));
}

i.light {
  color: rgb(255, 255, 255);
}
